body {
    margin: 0;
}

#game-canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    /* background-color: #000408; */
    background: linear-gradient(
    to bottom,
    #000000,
    #000408 50%,
    #0c0000
    );
}