body {
    margin: 0;
    cursor: none;
}

canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#game-canvas {
    background: linear-gradient(
    to bottom,
    #000000,
    #000408 50%,
    #0c0000
    );
}

#overlay-canvas {
    display: none;
}